# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Uploads & Temp files
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env
backend/.env
frontend/.env

# Build outputs
frontend/dist/
frontend/build/

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/
